<h1>All Coaches</h1>

<ul>
<% @users.each do |user| %>
  <li>
    <ul>
      <li><%= user.first_name  %> <%= user.second_name  %></li>
      <li><%= user.location  %></li>
      <li><%= link_to 'View ' + user.first_name, user, class: 'btn' %></li>
    <ul>
  </li>
<% end %>
</ul>