<li class="col-xs-6 course">
  <ul>
    <li><%= link_to course.title, course %></li>
    <li><%= truncate(course.description, :length => 120) %></li>
    <li><i>with <%= link_to course.user.try(:first_name) + " " + course.user.try(:second_name), course.user %></i></li>
    <li><%= link_to 'View', course, class: 'btn' %></li>
  </ul>
</li>
