<!-- <p id="notice"><%= notice %></p> -->
<div class="row">
  <div class="col-xs-12">
    <h1>All Courses</h1>
    <%= link_to 'New Course +', new_course_path, class: 'btn' %>
  </div>

  <ul>
      <%= render @courses %>
  </ul>
</div>