body {
  font-family: 'Roboto', sans-serif;
  font-size:1em;
  line-height:1.25;
  width: 100vw;
  height: 100vh;
  background-image: url('homepage.jpeg');
  background-position: center;
  background-size: cover;
}

h1, h2, h3, h4 {
  margin:0 0 1.25rem;
  font-weight:100;
  line-height:1;
  font-family: 'Playfair Display', serif;
}
p {
  margin:0 0 1.25rem;
}
h1 {
  font-size:2.8rem;
  font-weight: 700;
}
h2 { font-size:1.875rem; }

a, a:focus, a:active, a:visited {
  text-decoration:none;
  color: #000000;
}

* {
  -moz-box-sizing:border-box;
       box-sizing:border-box;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  nav {
    @extend .container;
    height: 60px;
    line-height: 60px;
    ul {
      height: 60px;
      line-height: 60px;
      font-size: 14px;
      li {
        display: inline;
        height: 60px;
        line-height: 60px;
        float: right;
        padding: 0 10px;
        &:first-child {
          float: left;
          padding: 0;
          font-size: 22px;
          font-family: 'Playfair Display', serif;
          font-weight: 700;
          a {
            &:hover {
              color: #FFFFFF;
              border-color: #FFFFFF;
            }
          }
        }
        a, a:focus, a:active, a:visited {
          color: #FFFFFF;
          &.login {
            border: 1px solid #FFFFFF;
            padding: 5px 10px;
          }
          &:hover {
            color: #F8BD01;
            border-color: #F8BD01;
          }
        }
      }
    }
  }
}

main {
  @extend .container;
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: 80px;
}